%edge {
    width: var(--edge-width);
    height: 100%;
    background-color: burlywood;
}

%slider-elem {
    position: absolute;
    height: 100%;
    caret-color: transparent;
}

.slider {
    position: relative;
    display: flex;
    height: 100px;
    width: 900px;

    .viewport {
        @extend %slider-elem;
        display: flex;
        justify-content: space-between;
        background-color: violet;

        &-left-edge {
            @extend %edge;
            cursor: w-resize;
        }

        &-right-edge {
            @extend %edge;
            cursor: e-resize;
        }
    }

    .left {
        @extend %slider-elem;
        background-color: blanchedalmond;
    }

    .right {
        @extend %slider-elem;
        background-color: blanchedalmond;
    }
}
