%edge {
    width: var(--edge-width);
    height: 100%;
    background-color: var(--edge-color);
}

%slider-elem {
    position: absolute;
    height: 100%;
    caret-color: transparent;
}

.slider {
    position: relative;
    display: flex;
    height: var(--slider-height);
    width: var(--slider-width);

    .viewport {
        @extend %slider-elem;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        box-sizing: border-box;
        border-top: 2px solid var(--edge-color);
        border-bottom: 2px solid var(--edge-color);

        &-left-edge {
            @extend %edge;
            cursor: w-resize;
        }

        &-right-edge {
            @extend %edge;
            cursor: e-resize;
        }
    }

    .left {
        @extend %slider-elem;
        background-color: var(--side-color);
    }

    .right {
        @extend %slider-elem;
        background-color: var(--side-color);
    }
}
